<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/scripts/effects.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <main>

     <section class="eat-watch-section">

       <div>
        <a href="/allEats">All Your Eat Tasks</a>
        <br><span> <%= allTasks.e %></span>
        <% if(latest.e[0] === undefined) { %>
        <br>Eat something!
        <% } else { %>
        <br><span>Latest Task <%= latest.e[0].content %></span>
        <% } %>
        </div>
        <div style="margin-left:97px";><span class="watchTask">Watch</span>
        <br><span> <%= allTasks.w %></span>
         <% if(latest.w[0] === undefined) { %>
        <br>Watch something!
        <% } else { %>
        <br><span>Latest Task <%= latest.w[0].content %></span>
        <% } %>
        </div>
      </section>

     <section class="input-section">
        <form method="POST" action="/new_task">
          <input name="task" class="text-for-task" type="text"  placeholder="Enter task" />
          <button>SUBMIT</button>
        </form>
        <form method="POST" action="/removeTask">
          <input name="taskID" class="ID-for-task" type="text"  placeholder="Enter task ID to delete" />
          <button>SUBMIT</button>
        </form>
        <form method="POST" action="/reclassifyTask">
          <input name="taskID" class="ID-for-task" type="text"  placeholder="Enter task ID to reclassify" />
          <input name="taskNewClass" class="newClass-for-task" type="text"  placeholder="Enter new task class" />
          <button>SUBMIT</button>
        </form>
      </section>

     <section class="read-buy-section">
        <div><span>Read</span>
        <br><span> <%= allTasks.r %></span>
        <% if(latest.r[0] === undefined) { %>
        <br>Read something!
        <% } else { %>
        <br><span>Latest Task <%= latest.r[0].content %></span>
        <% } %>
        </div>

       <div style="margin-left:97px;"><span>Buy</span>
        <br><span> <%= allTasks.b %></span>
        <% if(latest.b[0] === undefined) { %>
        <br>Buy something!
        <% } else { %>
        <br><span>Latest Task <%= latest.b[0].content %></span>
        <% } %>
        </div>
      </section>
    </main>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
  </body>
</html>